<section id ="Page quick link cards">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb3 tc">Quick links</h2>
</div>
    <div class="card-deck mx-auto w-90">
      <div class="card text-white bg-dark mb-3 border-0">
        <img class="card-img-top" src="/img/box/IMG_3037.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title b">Our founder</h5>
          <p class="card-text">Inspired in 2012 from the loss of valued friends due to gang affiliation and crime, Stephen Addison launched the project ‘Box Up Crime’ in 2013.</p>
          <a href="/vision" class="btn raise">Read more</a>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3 border-0">
        <img class="card-img-top" src="/img/box/IMG_0050.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title b">A fulfilling career</h5>
          <p class="card-text">Nothing is more heartwarming than helping those who truly need it and also deserve it. What's stopping you from joining the team?</p>
          <a href="/careers" class="btn raise">Read more</a>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3 border-0">
        <img class="card-img-top" src="/img/box/IMG_5455.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title b">Upcoming</h5>
          <p class="card-text">We are always looking into more ways to help others and innovate our brand. Have look at our future events to see what you can be apart of!</p>
          <a href="/upcoming" class="btn raise">Read more</a>
        </div>
      </div>
    </div>

</section>
