<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 fw2 lh-title mb1 primary">BoxUp Crime</h3>
				<ul class="fw1">
					<li><a href="/index" class="link">Home</a></li>
					<li><a href="/vision" class="link">Vision</a></li>
					<li><a href="/services" class="link">Services</a></li>
					<li><a href="/locations" class="link">Locations</a></li>
					<li><a href="/careers" class="link">Careers</a></li>
					<li><a href="/upcoming" class="link">Upcoming</a></li>
					<li><a href="/contact" class="link">Contact</a></li>

				</ul>
			</div>
			<div>
			<img src="/img/logo.png" alt="BoxUp Crime logo" class="db w4 center mb4 br0">
			</div>
			<div>
				<h3 class="f4 fw2 lh-title mb1 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/boxupcrimeuk/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/boxupcrime?lang=en" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/boxupcrime/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
