<section id="windows-of-images">
  <div class="img-row">
      <div class="img-column">
      <img class="br0" src="/img/box/IMG_0050.JPG">
      <img class="br0" src="/img/box/IMG_0053.JPG">
      <img class="br0" src="/img/box/IMG_0352.JPG">
      <img class="br0" src="/img/box/IMG_0413.JPG">
          </div>
        <div class="img-column">
        <img class="br0" src="/img/box/IMG_0708.JPG">
        <img class="br0" src="/img/box/IMG_0722.JPG">
        <img class="br0" src="/img/box/IMG_0723.JPG">
        <img class="br0" src="/img/box/IMG_0728.JPG">

    </div>
          <div class="img-column">
          <img class="br0" src="/img/box/IMG_2303.JPG">
          <img class="br0" src="/img/box/IMG_2485.JPG">
          <img class="br0" src="/img/box/IMG_2533.JPG">
          <img class="br0" src="/img/box/IMG_2536.JPG">
    </div>
           
        </div>
</section>
