<section id="locations splitter">
  <div class="bg-off-white">

    <div class="custom-container mw-100">
      <div class="section-one">
        <div class="content">
          <h1 class="white b lh-title mb3 tc f3">London - Barking and Dagenham</h1>
          <p class="mb4 mw6">BoxUp is keen to expand its presence within London, and is actively working to set up new branches of the organisation in five new boroughs. By seeking out similar local figures with an intimite knowledge of the youth
            and gang dynamics in each borough, Box Up will create a wider reaching program that interconnects around the city, and tackles the growing epidemic of teenage murders.</p>
        </div>
      </div>
      <div class="section-two">
        <div class="content">
          <h1 class="white b lh-title mb3 tc f3">Switzerland</h1>
          <p class="mb4 mw6">BoxUp has always had a vision to work internationally, to help more people in tough situations. We currently support 50+ individuals in Switzerland and provide our services to them.</p>
        </div>
      </div>
    </div>

  </div>

</section>
