<nav class="navbar fixed-top navbar-expand-lg navbar-dark"style="background-color: rgba(255,0,0,0.85);">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
							<li class="nav-item">
								<a class="nav-link" href="/index.html">
														<img src="/img/logo.png" alt="Prospex logo" style="width:50px;"/>
														</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Vision</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Locations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Careers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Upcoming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
            </ul>
        </div>
    </div>
</nav>
