{{ define "main" }}

<h1 class="fw3 pv4 f1 black tc">Careers</h1>
<div>
  <img src="/img/box/IMG_0559.JPG" alt="BoxUp Crime logo" class="db w-75 center br0">
</div>
  <div class="ph3 bg-off-white">
    <div class="center mw6 pv4">
      <h2 class="f2 b lh-title mb3 tc">Office Admin Role</h2>
      <p>The purpose of the Office Manager post is to:</p>
      <ul>
        <li>Provide a comprehensive range of high quality administrative and
          management support within the busy Box Up Crime office to ensure that all aspects of the day to day activities operate efficiently and effectively</li>
        <li>Support the CEO by providing PA duties</li>
        <li>Create a warm friendly, welcoming and supportive environment for all users of the service, partner organisations and stakeholders</li>
        <li>Work as an effective member of the wider BoxUp Crime team, supporting
          projects and other members of the team</li>
        <li>Work within the Box Up Crime aims, objectives and ethos</li>
        <li>Consistently strive to achieve and build the vision of the organization</li>
      </ul>
    </div>
  </div>
  <div>
    <img src="/img/box/IMG_0723.JPG" alt="BoxUp Crime logo" class="db w-75 center br0">
  </div>
    <div class="ph3 bg-off-white">
      <div class="center mw6 pv4">
        <h2 class="f2 b lh-title mb3 tc">Candidate profile</h2>
        <p>This is a stand-alone role in a fast paced, dynamic and entrepreneurial organisation with a strong social mission. There’s a lot to do to support BoxUp Crime in its growth, so the ideal candidate will be someone who can make an immediate
          impact with minimal supervision, support or guidance. In return, the post holder will have a lot of scope to make the role their own and become an integral part of organsation as it grows and evolves.
          <br>
          The role would be ideal for someone with at least one to two years’ experience in a similar administrative or customer service role who is looking to make their next career move or someone with strong administrative experience who is
          looking to find a workplace environment where they can really make a positive social impact. This is a highly autonomous and varied role so the ideal candidate will need to demonstrate initiative, common sense pragmatism, flexibility and a
          genuine willingness to pitch-in with whatever needs to be done.
          <br>

          Our mission and values are at the heart of everything we do at Box Up Crime and we’re looking for someone who truly wants to be part of what we’re trying to achieve. This role will interact with a wide range of stakeholder groups including
          schools, government bodies, funders, and the young people we support. The post holder will need to be able to communicate with professionalism, and demonstrate tact, empathy and discretion. As the first point of contact many people will
          have with Box Up Crime, we expect the post holder to be a true ambassador for our mission.</p>
      </div>
    </div>
    <div class="bg-off-white pv4">

    <h2 class="f2 b lh-title mb3 tc">Contact us for more career info</h2>
    <div class="tc">
      <a href="/contact" class="btn raise">Contact</a>
    </div>

    </div>
    {{ end }}
