{{ define "main" }}

<article class="vh-100 dt w-100 bg-white">
  <div class="row">
    <div class="column one">
      <div class="middle first">
        <a href="/services-community" class="btn raise">BoxUp 4 Community</a>
      </div>
    </div>
    <div class="column two">
      <div class="middle second">
        <a href="/services-mentors" class="btn raise">BoxUp 4 Mentors</a>
      </div>
    </div>
    <div class="column three">
      <div class="middle third">
        <a href="/services-kids" class="btn raise">BoxUp 4 Kids</a>
      </div>
    </div>
    <div class="column four">
      <div class="middle fourth">
        <a href="/services-schools" class="btn raise">BoxUp 4 Schools</a>
      </div>
    </div>
  </div>
</article>
{{ end }}
